.navbar_checkout_dropdown_items {
    padding: 10px;
    border-bottom: 1px solid black;
}
.navbar_checkout_dropdown_imgntitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_checkout_dropdown_img {
    height: 100%;
    width: 20%;
}
.navbar_checkout_dropdown_title {
    height: 100%;
    width: 80%;
}
.navbar_checkout_dropdown_pricenqty {
    display: flex;
    justify-content: space-between;
}
.navbar_checkout_dropdown_pricenqty select {
    background-color: rgb(240, 240, 240);
}
.navbar_remove_item {
    display: flex;
    justify-content: flex-end;
}