.products {
    height: 100vh;
}
.products_banner {
    background-color: gray;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products_header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.products_header_right {
    display: flex;
    /* border: 1px solid blue; */
}
.products_searchBar {
    margin-right: 30px;
}
.products_display {
    display: flex;
}
.products_categories {
    min-width: 20%;
    /* border-right: 1px solid black; */
    /* border: 1px solid blue; */
    height: 60vh;
}
.products {
    /* border: 2px solid green; */
}