.products {
    background-color: rgb(237, 237, 236);
    padding-bottom: 50px;
}
.products_banner {
    background: rgb(25,25,25);
    background: radial-gradient(circle, rgba(25,25,25,1) 1%, rgba(23,23,23,1) 5%, rgba(44,44,44,1) 21%, rgba(49,49,49,1) 37%, rgba(57,57,57,1) 60%, rgba(93,93,93,1) 91%);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.products_header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
}
.products_header_right {
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}
.products_header h3 {
    margin: 0 30px;
}
.products_searchBar {
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.products_searchBar input {
    height: 34px;
    width: 200px;
    background-color: rgb(211, 211, 211);
}
.products_searchBar button {
    height: 35px;
}
.products_display {
    display: flex;
}
.products_categories {
    min-width: 20%;
    height: 100%;
    border-right: 1px dotted black;
    /* border: 1px solid blue; */
    background-image: linear-gradient(rgba(235, 168, 0, 1), rgba(215, 215, 14, 0.5), rgb(237, 237, 236));
  
}
.products_product {
    /* border: 2px solid green; */
    padding: 30px;
}
.add_notification {
    position: fixed;
    width: 300px;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    opacity: 0;
}
.alert-shown {
    position: fixed;
    width: 300px;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
    transition: all 250ms linear 0.2s; 
}
.alert-hidden {
    position: fixed;
    width: 300px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: all 250ms linear 1s; 
}
