.product_detail_page {
    padding: 30px;
}
.product_header {
    display: flex;
    margin-top: 50px;
}
.product_image {
    width: 50%;
}
.product_image img {
    padding: 10px;
}
.product_profile {
    width: 50%;
    padding: 50px 30px 0;
}
.product_info {
    margin: 0 30px;
}
.product_info p {
    margin: 30px;
}
.product_reviews_title {
    margin-left: 30px;
}
.product_no_reviews {
    text-align: center;
}
/* CSS on hover for add to cart button */
.product_profile button {
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.product_profile button:hover {
    padding-right: 24px;
    padding-left:8px;
}
.product_profile button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 6px;
    right: -20px;
    transition: 0.5s;
}
.product_profile button:hover:after {
    opacity: 1;
    right: 10px;
}