.profile_page {
    height: 100%;
    padding-bottom: 30px;
}
.profile_header {
    display: flex;
    padding: 30px 30px 10px;
    margin-bottom: 30px;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(196, 196, 196);
    border-bottom: 1px solid gray;
}
.profile_orders {
    border: 1px solid rgb(0, 0, 0);
    width: 82%;
    margin: 0 auto;
    padding: 5px;
    background-color: rgb(228, 138, 28);
}