.order_history_list {
    border: 1px solid black;
    margin: 0 auto 20px;
    width: 80%;
    border-radius: 10px;
}
.order_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px solid black;
    background-color: rgba(235, 172, 55, 0.8);
    width: 100%;
    padding: 0 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.order_detail {
    padding: 10px 30px;
    width: 100%;
}
.order_items {
    display: flex;
    justify-content: space-between;
}
.order_detail_item {
    display: flex;
    width: 70%;
    padding-bottom: 10px;
}
.order_detail_item_img_container {
    width: 30%;
}
.order_detail_item_img {
    padding: 10px 0;
}
.order_detail_item_info {
    padding-top: 20px;
    padding-left: 30px;
    width: 70%;
}
.order_detail_purchase {
    text-align: end;
    padding-top: 20px;
}
.order_summary {
    text-align: end;
    padding: 10px 30px;
    background-color: rgb(225, 225, 225);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}