.navbar {
  height: 70px;
}
.navbar-link div {
  display: flex;
}
.navbar_checkout_dropdown {
  width: 25vw;
  color: black;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
/* Nav Logo CSS and animation */
.btn-shine {
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #ffffff 0, rgb(0, 0, 0) 10%, #ffffff 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine {
  0%
    {background-position: 0px}
  60%
    {background-position: 220px}
  100%
    {background-position: 220px}
}