.navbar {
    /* background-color: rgb(0, 0, 0); */
    /* border-bottom: 1px solid rgb(177, 177, 177); */
}
.navbar-brand h1 {
    color: white;
}
.navbar_tabs {
    /* color: white; */
}
.navbar-link h1 {
    /* color: white; */
}
.navbar-link div {
    /* color: white; */
    display: flex;
    
}
.navbar_checkout_dropdown {
    width: 25vw;
}


.btn-shine {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 12px 48px;
    color: #ffffff;
    background: linear-gradient(to right, white 0, rgb(46, 46, 46) 10%, white 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;
}
    
@keyframes shine {
    0%
      {background-position: 0px}
    60%
      {background-position: 220px}
    100%
      {background-position: 220px}
}